.Container {
  width: 100%;
  min-height: calc(100vh - 70px);
  display: flex;
  position: relative;
  margin-top: 70px;

  .LeftContent {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .RightContent {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img {
      width: 100%;
      max-width: 600px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .LeftContent,
    .RightContent {
      width: auto;
    }
  }
}
