.Dashboard {
  .ButtonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    button {
      width: 200px;
      margin-bottom: 5px;
    }
  }
}

.LastMovements {
  .MovementsContainer {
    max-height: 800px;
    overflow: auto;
  }
}

.otherAuth {
  display: flex;
  align-items: center;

  .link {
    margin-left: 10px;
  }
}
