.Landing {
  .LeftContent {
    width: 55%;

    .Content {
      width: 400px;
    }
  }
  .RightContent {
    width: 45%;
  }
}

.Dashboard {
  .ButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
