.Dashboard {
  .ButtonsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    button {
      width: 200px;
      margin-bottom: 5px;
    }
  }
}

.LastMovements {
  .MovementsContainer {
    max-height: 800px;
    overflow: auto;
  }
}

.otherAuth {
  margin-top: 10px;
  display: flex;
  align-items: center;

  .link {
    margin-left: 10px;
  }
}

.msgError {
  width: 250px;
  background-color: #ab0d0d;
  color: white;
  padding: 10px 0;
  border-radius: $border-radius;
  padding-left: 10px;
  margin: 10px 0 20px 0;
}
